<!-- Header -->
	<header id="header">
		{% if site.avatar %}
		<a href="#top" class="image avatar"><img src="{{ site.avatar | relative_url }}" alt="{{ site.author }}" /></a>
		{% endif %}
		<h1 class="name"><strong>{{ site.title }}</strong></h1>
		<p class="job">{{ site.subtitle }}</p>
		<!-- <h1 class="tagline"><strong>Welcome</strong> to my webpage!<br />
		I'm based in <i>Ferrara, Italy</i>.</h1> -->
		<nav id="sidebar-nav">
			<ul>
				{% assign sections = site.sections | sort: 'order' %}
				{% for section in sections %}
				{% unless section.hide or section.hero %}
				<li><a href="#{{ section.slug | default: section.title | slugify }}">{{ section.nav-title | default: section.title }}</a></li>
				{% endunless %}
				{% endfor %}
			</ul>
		</nav>
		<div class="sidebar-contact">
			<ul class="cv-buttons">
				<li><a href="{{ 'gio/Giovanni-Pagliarini-CV-en-latest.pdf' | relative_url }}" title="Download my CV (English)" target="_blank"><span class="fa fa-file-pdf-o"></span>&nbsp; CV (EN)</a></li>
				<li><a href="{{ 'gio/Giovanni-Pagliarini-CV-it-latest.pdf' | relative_url }}" title="Download my CV (Italian)" target="_blank"><span class="fa fa-file-pdf-o"></span>&nbsp; CV (IT)</a></li>
			</ul>
			<p class="email"><a href="#" id="email-link" data-u="innavoig" data-d="zyx.ailgapoig" title="Send me an email">giovanni☀️giopaglia.xyz</a></p>
		</div>
		{% include footer.html %}
	</header>
