<!-- Logo -->
<style>
	

	#logo .image {
		position: relative;
		margin-top: 1.2em;

		display: block;
		border: 0;
		text-align: center;
	}

	#logo .image img {
		display: inline-block;
		width: 80%;
	}

</style>

<div id="logo">
  <!-- <a href="{{- '/' | absolute_url -}}" id="home-link"> -->
  <a href="gio/Giovanni-Pagliarini-CV-09-01-22.pdf" title="Download my CV">
    <h1 id="title">{{- site.title -}}</h1>
    <h4 style="margin-top:0.1em;">{{- site.subtitle -}}</h4>
    <span class="image avatar-gio"><img src="{{- site.avatar | relative_url -}}" alt="{{- site.author | default: 'unknown author' | prepend: 'Image of ' -}}" /></span>
  	<div style="text-align: center;">
		<span style="display: inline-block;" class="fa-file-pdf"></span>
	</div>
  </a>
</div>
