<!-- Logo -->
<style>
	
	.image {
		position: relative;
		margin-top: 1.2em;
		
		display: block;
		border: 0;
		text-align: center;
	}

	.image img {
		display: inline-block;
		width: 80%;
	}

</style>

<div id="logo">
  <a href="{{- '/' | absolute_url -}}" id="home-link">
    <h1 id="title">{{- site.title -}}</h1>
    <p>{{- site.subtitle -}}</p>
    <span class="image avatar-gio"><img src="{{- site.avatar | relative_url -}}" alt="{{- site.author | default: 'unknown author' | prepend: 'Image of ' -}}" /></span>
  </a>
</div>
