---
layout: default
---
{%- assign _sections = site.sections | sort: 'order' -%}
{%- include header.html scrolly_nav=_sections -%}
<!-- Main -->
<div id="main" onload="setTimeout(loadExpandBar, 1000)">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Sections -->
	{%- for _section in _sections -%}
		{%- include section.html title=_section.title subtitle=_section.subtitle quote=_section.quote expand-bar=_section.expand-bar photo=_section.cover-photo photo-alt=_section.cover-photo-alt auto-header=_section.auto-header content=_section.content -%}
	{%- endfor -%}
</div>

<script type="text/javascript">
	function loadExpandBar() {
		// $(function() {
		// 	$('.expand-bar').click(function () {
		//     $('section .to-be-collapsed').toggleClass('collapsed')
		//      // jQuery(this).remove();
		// 	});
		// });
	}
</script>
